GEMINI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
CASPER_NODE_URL=https://node.testnet.casper.network/rpc
CASPER_CONTRACT_HASH=d086038b1cedd634d8c6789fe0f785a037d18ec3bd4d909c50624585f8ff83f5
CASPER_WALLET_ADDRESS=
X402_FACILITATOR_URL=https://x402-facilitator.cspr.cloud
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
